<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909485582068-rq2cs5imh01n1dmb3kbl7gk81osn9nit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909485582068-rq2cs5imh01n1dmb3kbl7gk81osn9nit</string>
	<key>API_KEY</key>
	<string>AIzaSyCCUaw0VuZMhanCOhmcrVaNZ1bDif8B2Xg</string>
	<key>GCM_SENDER_ID</key>
	<string>909485582068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-a62a6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-a62a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909485582068:ios:3e2f50ec7d1b3d23fe20a1</string>
</dict>
</plist>